<!Document html>
<html lang="en">
<head>
    <title>Slim4 Starter</title>
    <meta charset="utf-8">
    <style>
        body {
            font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
            font-size: 16px;
            margin: 0;
        }
        header {
            margin: 0;
            padding: 1rem;
            border-bottom: 1px solid #cccccc;
        }
        a.header-title {
            font-size: 2rem;
            text-decoration: none;
        }
        div.contents {
            margin: 1rem;
        }
        /*
         * for flash messages
         */
        div.alert {
            border: 1px solid gray;
            padding: 1em;
            border-radius: .5em;
            margin: 1em;
        }
        div.alert p.alert-title {
            margin: 0;
            padding: 0;
            font-weight: bold;
            font-size: 1.2em;
            color: #666666;
        }
        div.alert-notice {
            background-color: #f0cfcf;
        }
        div.alert-message {
            background-color: #dff0df;
        }

    </style>
</head>
<body>
<header>
    <a class="header-title" href="/">Slim4 Starter</a>
</header>

<div class="contents">
    {% for msg in flashNotices() %}
        <div class="alert alert-notice"><p class="alert-title">notice:</p>{{ msg|raw }}</div>
    {% endfor %}
    {% for msg in flashMessages() %}
        <div class="alert alert-message">{{ msg|raw }}</div>
    {% endfor %}

    {% block contents %}
    {% endblock %}
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>
<footer>
    <h2>twig functions</h2>
    <dl>
        <dt>current_url()/path()</dt>
        <dd>{{ current_url() }}</dd>
        <dt>csrf_token()</dt>
        <dd>{{ csrf_token() }}</dd>
        <dt>base_path()</dt>
        <dd>{{ base_path() }}</dd>
    </dl>

</footer>

</body>
</html>