{% extends('layouts/layout.html.twig') %}

{% block contents %}
<h1>Hello</h1>

<p>This is Slim4-starter...</p>
    <p>App Name: {{ app_name }}</p>

    <h2>Packages</h2>
    <ul>
        <li>Slim4, http/csrf/slim/twig-view</li>
        <li>nyholm/psr7, nyholm/psr7-server</li>
        <li>monolog</li>
        <li>php-di/php-di</li>
        <li>filp/whoops</li>
        <li>aura/session</li>
    </ul>
<h2>sample links...</h2>
<ul>
    <li><a href="{{ path('csrf') }}">CSRF Token Validation</a></li>
    <li><a href="{{ path('form') }}">form samples (not-yet-ready)</a></li>
    <li><a href="{{ path('welcome', {name:"YourName"}) }}">welcome (change your_name)</a></li>
    <li><a href="{{ path('flashes') }}">flash samples.</a></li>
    <li><a href="/bad">not found error</a></li>
    <li><a href="{{ path('nonExists') }}">calling a controller which does not exist</a></li>
</ul>

    <h2>settings</h2>
    {{ settings|arrayToString }}

{% endblock %}